/**
 * SPDX-FileCopyrightText: (c) 2021 Carson Black <uhhadd@gmail.com>
 * SPDX-FileCopyrightText: 2023 Phu Hung Nguyen <phu@kde.org>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.ae-card {
    @extend .shadow;
    @extend .p-3;
    @extend .h-100;
    @extend .border;
}

a.ae-card, a.ae-card:hover {
    color: var(--bs-body-color);
}
