/**
 * SPDX-FileCopyrightText: 2019 Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2017 Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@import "../bootstrap/variables";

.laptop, .phone,
.phone-with-overlay,
.laptop-with-overlay {
  position: relative;
}

.phone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 16.5%;
  margin-left: 3.5%;
  width: 92%;
}

.laptop-overlay {
  position: absolute;
  width: 77%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -64.5%);

  /* Inset box-shadow to give the screenshot more depth */
  &:after {
    content: "";
    position: absolute;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.laptop-with-overlay.bottom-right, .laptop-with-overlay.top-center {
  overflow: hidden;
}

.laptop-with-overlay.top-center {
  .laptop {
    transform-origin: top center;
    transform: scale(2);
  }

  .laptop-overlay {
    width: 100%;
    top: 5%;
    left: 0;
    transform: none;
  }
}

.laptop-with-overlay.bottom-right {
  .laptop {
    transform-origin: bottom right;
    transform: scale(2);
  }

  .laptop-overlay {
    width: 78%;
    transform: none;
    top: 0;
    left: 0;
  }
}
