{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    {{ partial "jumbotron" . }}

    <div class="content-width">
      {{ with .Content }}
        {{ . }}
      {{ end }}

      {{ if not .Params.nosubpage }}
        <div>
          {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
            <div class="mb-5">
              <h3 class="mt-1 h4"><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h3>
              <div class="text-lighter">
                {{ if .Params.date }}
                  {{ partial "i18n_date.html" . }}
                {{ end }}
                {{- with .Params.author -}}&emsp;|&emsp;{{ . }}{{- end -}}
                {{- if .Params.tags -}}
                  &emsp;|&emsp;Tags:
                  {{- range .Params.tags }}
                  &nbsp;<a href="/tags/{{ . | urlize }}/">{{ . }}</a>
                  {{- end -}}
                {{ end }}
              </div>
              <div class="post-entry mt-3">
                {{ if .Description }}
                  {{ .Description }}
                {{ else }}
                  {{ .Summary | plainify }}
                {{ end }}
                {{ if .Truncated }}
                  <a href="{{ .RelPermalink }}" class="d-block mt-2">{{ i18n "read-more" }}</a>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>

        {{ template "_internal/pagination.html" . }}
      </div>
    {{ end }}
  </article>
</main>
{{ end }}
