{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    {{ partial "jumbotron" . }}

    <div class="content-width">
      {{ .Content }}

      {{ if .Params.discourse }}
      <h2 id="comments">{{ i18n "blogs.comments" }}</h2>
        <div id='discourse-comments'></div>
        <meta name='discourse-username' content='{{ .Params.discourse }}'>
        <script type="text/javascript">
          DiscourseEmbed = {
            discourseUrl: 'https://discuss.kde.org/',
            discourseEmbedUrl: '{{ .Page.Permalink }}',
            // className: 'CLASS_NAME',
          };

          (function() {
            var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
          })();
        </script>
      {{ end }}

      {{ partial "include-html" . }}

      {{ partial "related-post" . }}

      {{ partial "copyright.html" . }}
    </div>
  </article>
</main>
{{ end }}
