{{/*
SPDX-FileCopyrightText: 2024 Devin Lin <espidev@gmail.com>
SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}
<div class="jumbotron">
  <div class="content-width">
    {{ if .Params.header_image_link }}
      <img src="{{ .Params.header_image_link }}" alt="" class="konqi">
    {{ end }}

    <h1 class="page-header">
      {{ .Title }}{{ if not (eq .Kind "page") }}&nbsp;{{ partial "rss_section.html" . }}{{ end }}
    </h1>

    {{ with .Params.subtitle }}
      <h4>{{ . | markdownify }}</h4>
    {{ end }}

    {{ if not .Params.hideMeta }}
      <p class="meta">
        {{ partial "i18n_date.html" . }}
        {{ if or .Params.authors .Params.author }}&emsp;|&emsp;{{ end }}
        {{ partial "fn/authors.html" . }}
      </p>
    {{ end }}

    {{ if .Params.tags }}
      <div class="blog-tags">
        Tags:
        {{ range .Params.tags }}
        &nbsp;<a href="/tags/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
      </div>
    {{ end }}

    {{ if .Params.categories }}
      <div class="blog-tags">
        {{ range .Params.categories }}
        <a class="badge bg-primary p-2" href="/categories/{{ . | urlize }}/">
          #{{ . }}
        </a>&nbsp;
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
