<span><img class="canonical" alt='{{ i18n "patron-alt-canonical" }}' loading="lazy"></span>
<span><img class="google" alt='{{ i18n "patron-alt-google" }}' loading="lazy"></span>
<span><img class="suse" alt='{{ i18n "patron-alt-suse" }}' loading="lazy"></span>
<span><img class="qt" alt='{{ i18n "patron-alt-qc" }}' loading="lazy"></span>
<span><img class="blue-systems" src="/images/logos/blue-systems.png" alt='{{ i18n "patron-alt-bs" }}' loading="lazy"></span>
<span><img class="slimbook" src="/images/logos/slimbook.png" alt='{{ i18n "patron-alt-slimbook" }}' loading="lazy"></span>
<span><img class="tuxedo" src="/images/logos/tuxedo.svg" alt='{{ i18n "patron-alt-tuxedo" }}' loading="lazy"></span>
<span><img class="kfocus" alt='{{ i18n "patron-alt-kfucus" }}' loading="lazy"></span>
<span><img class="gnupg" alt='{{ i18n "patron-alt-gnupg" }}' loading="lazy"></span>
<span><img class="mbition" alt='{{ i18n "patron-alt-mbition" }}' loading="lazy"></span>
