<a class="shareMatrix" href="https://go.kde.org/matrix/#/#kde:kde.org" aria-label="{{ i18n "share-matrix" }}"></a>
<a class="shareFacebook" href="https://www.facebook.com/kde/" aria-label="{{ i18n "post-facebook" }}"></a>
<a class="shareMastodon" href="https://floss.social/@kde" rel="me" aria-label="{{ i18n "share-mastodon" }}"></a>
<a class="shareLinkedIn" href="https://www.linkedin.com/company/29561/" aria-label="{{ i18n "share-linkedin" }}"></a>
<a class="shareReddit" href="https://www.reddit.com/r/kde/" aria-label="{{ i18n "share-reddit" }}"></a>
<a class="shareYouTube" href="https://www.youtube.com/channel/UCF3I1gf7GcbmAb0mR6vxkZQ" aria-label="{{ i18n "share-youtube" }}"></a>
<a class="sharePeerTube" href="https://tube.kockatoo.org/a/kde_community/video-channels" aria-label="{{ i18n "share-peertube" }}"></a>
<a class="shareVK" href="https://vk.com/kde_ru" aria-label="{{ i18n "share-vk" }}"></a>
<a class="shareInstagram" href="https://www.instagram.com/kdecommunity/" aria-label="{{ i18n "share-instagram" }}"></a>
