/**
 * SPDX-FileCopyrightText: (c) 2017 Ken Vermette <vermette@gmail.com>
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: (c) 2020 Ilya Bizyaev <bizyaev@zoho.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#kPatrons {
    padding: 10px 0;
}

#kPatrons h3, #kLinks h3 {
    font-size: 0.9rem;
    font-weight: bold;
}

#kPatrons h3 {
    margin: 10px;
}

#kLinks h3 {
    margin: 1.3rem 0 0 0;
}

#kPatrons a, #kPatrons span {
    text-align: center;
    padding: 0 10px;
    display: block;
    flex-basis: 30%;
}

#kPatrons img {
    width: 100%;
    max-width: 100%;
}
