<nav>
  <div class="nav nav-pills" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" id="nav-recurring-time-tab" data-bs-toggle="tab" href="#nav-recurring-time" role="tab" aria-controls="nav-recurring-time" aria-selected="false">Recurring Donation</a>
    <a class="nav-item nav-link active" id="nav-one-time-tab" data-bs-toggle="tab" href="#nav-one-time" role="tab" aria-controls="nav-one-time" aria-selected="true">One Time Donation</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane show active" id="nav-one-time" role="tabpanel" aria-labelledby="nav-one-time-tab">
    <p style="margin-left: 1em; padding-top: 1em;">
      <a href="https://kde.org/community/donations/"><img src="images/Jtg.png" class="noborder" style="float: right; margin: 0px; background-image: none; border: 0; padding-top: 0" alt="Join the Game and support KDE" /></a>
      We have two different ways to do recurring donations:
    </p>
    <ul>
      <li>For <em>individuals</em>, the <a href="https://kde.org/community/donations/">KDE Supporting Member</a> initiative.</li>
      <li>For <em>corporations</em>, the <a href="http://ev.kde.org/getinvolved/supporting-members.php">Supporting Membership Program</a>.</li>
    </ul>
  </div>
  <div class="tab-pane" id="nav-recurring-time" role="tabpanel" aria-labelledby="nav-recurring-time-tab">
    <p class="ms-2 mb-0">
    <form style="border: none; box-shadow: none; margin-top: 0; padding-top: 1em;" action="https://www.paypal.com/cgi-bin/webscr" method="post" onsubmit="return amount.value >= 2 || window.confirm('Your donation is smaller than 2€. This means that most of your donation will end up in processing fees. Do you want to continue?');">
      <input type="hidden" name="business" value="kde-ev-paypal@kde.org" />
     <input type="hidden" name="cmd" value="_donations" />
     <input type="hidden" name="lc" value="GB" />
     <input type="hidden" name="item_name" value="KDE e.V." />
     <input type="hidden" name="item_number" value="Donation to KDE e.V." />
     <input type="hidden" name="currency_code" value="EUR" />
     <input type="hidden" name="custom" value="" />
     <input type="hidden" name="cn" value="Enter your name or other publically listed donation message" />
     <input type="hidden" name="cbt" value="Return to www.kde.org" />
     <input type="hidden" name="return" value="https://kde.org/community/donations/thanks_paypal" />
     <input type="hidden" name="notify_url" value="https://webapi.kde.org/donation/notify" />
     <input type='text' name="amount" value='30' style="vertical-align:middle;text-align:right;" size="4" /> €
     <input type="image" name="submit" src="paypal_donate.gif" alt="PayPal" style="vertical-align:middle;" />
    </form>
    </p>
    <p class="ms-2 mb-2">
      <a href="https://kde.org/community/donations/previousdonations">Previous donations page</a>
    </p>
  </div>
</div>
